.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 30px;
  background-color: white;
  width: 600px;
  border-radius: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 3px;
  font-weight: bold;
  width: 100%;
}
.text {
  color: #3c009d;
  font-size: 40px;
  font-weight: 700;
}
.undername {
  width: 100px;
  height: 6px;
  background-color: #3c009d;
  border-radius: 9px;
}
.inputs {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 80px;
  background-color: antiquewhite;
  border-radius: 15px;
}
.input label {
  margin: 0 30px;
}
.input input {
  width: 250px;
  height: 30px;
  border-radius: 30px;
  font-size: 14px;
}
.forget-password {
  padding-left: 100px;
  font-size: 20px;
}
.forget-password span {
  color: rgb(13, 9, 122);
  cursor: pointer;
}
.sub-btn button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  margin-left: 200px;
  padding: 20px;
  border-radius: 40px;
  background-color: #3c009d;
  color: aliceblue;
  margin-top: 2px;
  cursor: pointer;
}
.submit {
  display: flex;
  flex-direction: column;
}
.sub-container {
  display: flex;
  gap: 30px;
  margin: 20px auto;
  margin-top: 30px;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  color: aliceblue;
  background: #09b6dd;
  border-radius: 50px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 700;
}
.gray {
  background: #eaeaea;
  color: rgb(21, 21, 1);
}
